{% extends "header.html" %}
{% block body %}
<div class="container">
    <p></p>
    <h2>Deine Suche für: {{ term }}</h2>
    <p></p>
    {% for recipe in result %}
    <a href="{{ url_for('recipe', id=recipe['name']) }}">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img class="card-img-left" height="125" width="125" src="{{ url_for('static', filename='defaultrecipe.png') }}" alt="Recipe image">
                </div>
                <div class="col">
                    <h3 class="recipe-name">{{ recipe["name"] }}</h3>
                    <p> Some additional Info maybe</p>
                </div>
            </div>
            </div>
        </div>
        </a>
    <p></p>
    {% endfor %}
</div>
{% endblock %}