{% extends "header.html" %}
{% block body %}
<div class="container">
    <p></p>
    <h2 class="recipe-name">{{ recipe["name"] }}</h2>
    <p></p>

    <div class="container">
        <div class="row">
            <div class="col-2 light-blue lighten-2">
                {% for ing in recipe["ingredients"] %}
                    <p style="margin-bottom:1px; width:101%">{{ing}}</p>
                {% endfor %}
            </div>
            <div class="col light-blue lighten-4">
                {% for rec in recipe["recipe"] %}
                    <p style="margin-bottom:1px">{{rec}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% endblock %}